<settings>
  <servers>
    <server>
      <id>jv-maven-repo-snapshot</id>
      <username>publish</username>
      <password>fuzzy_logic#</password>
    </server>
    <server>
      <id>jv-maven-repo-release</id>
      <username>publish</username>
      <password>fuzzy_logic#</password>
    </server>
  </servers>
</settings>
